@model Distro2.Models.DetailsMessageViewModel

@{
    ViewBag.Title = "Read message";
}

<h2>Message</h2>
<div>
    <h4>Message from: @Html.DisplayFor(model => model.sender)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Remove this message", "Delete", new { id = Model.messageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
